<h1> DELOVNI NALOG</h1>
<div id="delovniNalogMain">
	<form>
		<div id="izvajalec">
			<h3> 1 - IZVAJALEC </h3>
			<label>številka izvajalca</label>
			<input type="text" id="stevilkaIzvajalca">
			   
			<label>naziv izvajalca</label>
			<input type="text" id="sifraZdravstveneDejavnosti">		
		</div>
		
		
		<div id="zdravnik"> 
			<h3>2 - ZDRAVNIK</h3>
			<label>številka zdravnika</label>
			<input type="text" id="stevilkaZdravnika">			
		</div>
		
		<div id="zavarovanaOseba"> 
			<h3>3 - ZAVAROVANA OSEBA</h3>
			<label>Številka zavarovane osebe</label>
			<input type="text" id="stevilkaZavarovaneOsebe">
			
			<label>Datum rojstva</label>
			<input type="date" id="datumRojstva">
			
			<label>Priimek</label>
			<input type="text" id="priimek">
			
			<label>Ime</label>
			<input type="text" id="ime">
			
			<label>Ulica</label>
			<input type="text" id="ulica">
			
			<label>Hišna številka</label>
			<input type="text" id="hisnaStevilka">
			
			<label>Postna številka</label>
			<input type="text" id="postnaStevilka">
			
			<label>Kraj</label>
			<input type="text" id="kraj">
			
			<label>Telefonska stevilka</label>
			<input type="text" id="telefonskaStevilka">
			
			<label>e-pošta</label>
			<input type="text" id="ePosta">			
		</div>
		
		
		
		<div id="veljavnostNaloga">
			<h3>4 - VELJAVNOST NALOGA</h3>
			<input type="radio" name="veljavnostNalogaVrsta"><label> enkratno</label><br>
			<input type="radio" name="veljavnostNalogaVrsta"><label> za obdobje</label><br>
			
			<label>od</label>
			<input type="text" id="veljavnostNalogaOd">
			<label>do</label>
			<input type="text" id="veljavnostNalogaDo"><br>
			
			<input type="checkbox" id="veljavnostNalogaFiksniDatum"> 
			<label>fiksni datum</label>
		</div>
		
		<div id="vrstaStoritve">
			<h3>5 - VRSTA STORITVE</h3>
			<select id="vrstaStoritveSelect">			
			</select>
		</div>
		
		<div id="bolezen">
			<h3>6 - BOLEZEN</h3>
			<select id="bolezenSelect">			
			</select>
		</div>
		
		<div id="material">
			<h3>7 - MATERIAL</h3>
			<select id="materialSelect">			
			</select>
		</div>
		
		<div id="zdravilo">
			<h3>8 - ZDRAVILO</h3>
			<select id="zdraviloSelect">			
			</select>
		</div>
	</form>

</div>