<h1> DELOVNI NALOG</h1>



<div id="delovniNalogMain">

	<form>
		<div id="izvajalec">
			<h3> 1 - IZVAJALEC </h3>
			<label>številka izvajalca</label>
			<input type="text" [(ngModel)]="stevilkaIzvajalca" name="krneki9">

			<label>naziv izvajalca</label>
			<input type="text" [(ngModel)]="nazivIzvajalca" name="krneki10">
		</div>

		<!-- tuki dropdown za sestre -->
		
		<div id="zdravnik">
			<h3>2 - ZDRAVNIK</h3>
			<label>številka zdravnika</label>
			<input type="text" [(ngModel)]="stevilkaZdravstvenegaDelavca" name="krneki11">
		</div>

		<div id="zavarovanaOseba">
			<h3>3 - ZAVAROVANA OSEBA</h3>
			<label>Številka zavarovane osebe</label>
			<input type="text"  [(ngModel)]="post" id="stevilkaZavarovaneOsebe"  name="krneki5333" >
						
			<label>Priimek</label>
			<input type="text" id="priimek" placeholder="{{ priimek }}" required>

			<label>Ime</label>
			<input type="text" id="ime"placeholder="{{ ime }}" required>
			<label>Ulica</label>
			<input type="text" id="ulica" placeholder=" {{ ulica}} " v required minlength="2" maxlength="45">

			<label>Hišna številka</label>
			<input type="text" id="hisnaStevilka" placeholder="{{ hisnaStevilka }}" required minlength="1" maxlength="5">

			<label>Postna številka</label>
			<input type="text" id="postnaStevilka" placeholder=" {{ postnaStevilka }}" required minlength="4" maxlength="4">

			<label>Kraj</label>
			<input type="text" id="kraj" placeholder=" {{ kraj }} ">

			<label>Telefonska stevilka</label>
			<input type="text" id="telefonskaStevilka" placeholder=" {{ telefonskaStevilka}} " required minlength="12" maxlength="12"
             pattern="\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|
               2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|
               4[987654310]|3[9643210]|2[70]|7|1)\d{1,14}$">

			<label>e-pošta</label>
			<input type="text" id="ePosta" maxlength="45" placeholder=" {{ email }} " required
             pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" >			 
			 
			 <input type="button" (click)="pridobiPodatkePacienta()" name="pridobiPodatke" value="pridobi podatke"> 
			 					 
		</div>		
		
		<div id="zavarovanaOseba" *ngIf="izbranaStoritev.id == 20 || izbranaStoritev.id == 30 ">
			<h3>3a - ZAVAROVANA OSEBA</h3>
			<label>Številka zavarovane osebe</label>
			<input type="text"  [(ngModel)]="post1" id="stevilkaZavarovaneOsebe"  name="krneki578" >
						
			<label>Priimek</label>
			<input type="text" id="priimek" placeholder="{{ priimek1 }}" required>

			<label>Ime</label>
			<input type="text" id="ime"placeholder="{{ ime1 }}" required>
			<label>Ulica</label>
			<input type="text" id="ulica" placeholder=" {{ ulica1}} " v required minlength="2" maxlength="45">

			<label>Hišna številka</label>
			<input type="text" id="hisnaStevilka" placeholder="{{ hisnaStevilka1 }}" required minlength="1" maxlength="5">

			<label>Postna številka</label>
			<input type="text" id="postnaStevilka" placeholder=" {{ postnaStevilka1 }}" required minlength="4" maxlength="4">

			<label>Kraj</label>
			<input type="text" id="kraj" placeholder=" {{ kraj1 }} ">

			<label>Telefonska stevilka</label>
			<input type="text" id="telefonskaStevilka" placeholder=" {{ telefonskaStevilka1}} " required minlength="12" maxlength="12"
             pattern="\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|
               2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|
               4[987654310]|3[9643210]|2[70]|7|1)\d{1,14}$">

			<label>e-pošta</label>
			<input type="text" id="ePosta" maxlength="45" placeholder=" {{ email1 }} " required
             pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
			 
			 <input type="button" (click)="pridobiPodatkePacienta1()" name="pridobiPodatke" value="pridobi podatke"> 
			 			 
		</div>
			<label>Patronažna sestra</label>
			<div id="sestra">						
				<select [(ngModel)]="izbranaSestra" name="krneki22" >
					<option *ngFor="let s of sestre" [ngValue]="s"> {{s.ime}}  {{s.priimek}} </option>
				</select>
			</div>		 	
		
	
		
		<div id="veljavnostNaloga">
			<h3>4 - VELJAVNOST NALOGA</h3>
			<input type="radio" [(ngModel)]="veljavnostNalogaVrsta" (change)="ponastaviDatum()" name="veljavnostNalogaVrsta" value="0">Enkratno<br>
			<input type="radio" [(ngModel)]="veljavnostNalogaVrsta" (change)="ponastaviDatum()" name="veljavnostNalogaVrsta" value="1">Za obdobje<br>
			<input type="radio" [(ngModel)]="veljavnostNalogaVrsta" (change)="ponastaviDatum()" name="veljavnostNalogaVrsta" value="2">Interval<br>
					
			 <div class="form-group">
				
				
				<div class="enObDrugem">
					<label>od</label>
					<input type="date"  id="veljavnostNalogaOd" placeholder="01-01-1900" min="1900-01-01" max="2080-04-14" 
					[(ngModel)]="veljavnostNalogaOd"  (change)="preveriDatum()" name="datumRojstva1" required="required">	
				</div>

					
					
				<div class="enObDrugem" *ngIf="veljavnostNalogaVrsta == 1">
					<label>do</label>
					<input type="date" id="veljavnostNalogaDo" placeholder="01-01-1900" min="1900-01-01" max="2080-04-14" 
					[(ngModel)]="veljavnostNalogaDo" (change)="preveriDatum()" name="datumRojstva1">	
				</div>
				
				<div class="enObDrugem" *ngIf="veljavnostNalogaVrsta == 2">
					<label >interval</label>
					<input type="text"  [(ngModel)]="veljavnostNalogaInterval" (change)="preveriDatum()" id="stevilkaIzvajalca" name="krneki7">	
				</div>

				
				<div class="enObDrugem" *ngIf="veljavnostNalogaVrsta > 0">
					<label>stevilo obiskov</label>
					<input type="text" [(ngModel)]="veljavnostNalogaSteviloObiskov" (change)="preveriDatum()" id="stevilkaIzvajalca" name="krneki8" >	
				</div>
				
				<div class="levo">
					<input type="checkbox" name="veljavnostNalogaFiksniDatum" value="1">
					<label>fiksni datum</label>
				</div>
				
			</div>				
				
		</div>
			
		
	
	

		<div id="storitev">
		<h3>5 - STORITEV</h3>			
		<select [(ngModel)]="izbranaStoritev" name="krneki3" (ngModelChange)="onChangeStoritev($event)">
			<option *ngFor="let s of storitve" [ngValue]="s"> {{s.name}} </option>
		</select>
		</div>
		
		
		<div *ngIf='pokaziBolezen' id="bolezen">
			<h3>6 - BOLEZEN</h3>			
			<select [(ngModel)]="izbranaBolezen" name="krneki2">
				<option *ngFor="let b of bolezni" [ngValue]="b"> {{b.opis}} </option>
			</select>
		</div>
		
		
		<div id="material" *ngIf="izbranaStoritev.id == 60">
			<h3>7 - MATERIAL</h3>			
			<select [(ngModel)]="izbraniMaterial" name="krneki1" >
				<option *ngFor="let m of materiali" [ngValue]="m"> {{m.opis}} </option>
			</select>
			<input type="text"  [(ngModel)]="stEpruvet" id="steviloEpruvet" name="krneki7">
			<input type="button" (click)="dodajMaterial()" name="dodajMaterial" value="Dodaj material">

			
		</div>		
		
		<div id="zdravilo" *ngIf="izbranaStoritev.id == 50">
			<h3>8 - ZDRAVILO</h3>
			<select [(ngModel)]="izbranoZdravilo"  name="krneki4">
				<option *ngFor="let z of zdravila" [ngValue]="z"> {{z.opis}} </option>
			</select>	

			<input type="button" (click)="dodajZdravilo()" name="dodajZdravilo" value="Dodaj zdravilo">
			
		</div>
		
		
		
		<input type="button" (click)="posljiDelovniNalog()" [disabled]="dateIsValid < 1"  name="posljiDelovniNalog" value="posljiDelovniNalog" class="btn btn-success">
	
		
	</form>
	
	
	
	
	
	
	
	
	
	
	

</div>
<div [hidden]="!napaka">
	<h3>Prišlo je do napake pri kreiranju delovnega naloga</h3>
</div>