<div class="container">
  <div [hidden]="submitted">
    <h1>Obisk: vnos</h1>
    <form (ngSubmit)="onSubmit()" #obiskForm="ngForm">
      <div class="form-group">
        <div ngIf="aplikacijaInjekcije">

        </div>
        <div ngIf="kontrolaZdravstvenegaStanja">
          <div class="form-group">
            <label>Anamneza</label>
            <input type="text" class="form-control" name="akt10">
          </div>
          <div class="form-group">
            <label>Krvni Pritisk: sistolični, diastolični</label>
            <div class="form-group">
              <label>Sistolični (mm Hg):</label>
              <input type="text" class="form-control" name="akt20a" required>
            </div>
            <div class="form-group">
              <label>Diastolični (mm Hg):</label>
              <input type="text" class="form-control" name="akt20b" required>
            </div>
            </div>
          <div class="form-group">
            <label>Srčni utrip</label>
            <input type="text" class="form-control" name="akt30" required>
          </div>
          <div class="form-group">
            <label>dihanje</label>
            <input type="text" class="form-control" name="akt40" required>
          </div>
          <div class="form-group">
            <label>Telesna temperatura (°C)</label>
            <input type="text" class="form-control" name="akt50" required>
          </div>
          <div class="form-group">
            <label>Krvni sladkor:</label>
            <div class="form-group">
              <label>mmol/L</label>
              <input type="text" class="form-control" name="akt60a" required>
            </div>
            <div class="form-group">
              <label>Opombe:</label>
              <textarea class="form-control" name="akt60b" cols="3">
              </textarea>
            </div>
            </div>
          <div class="form-group">
            <label>Oksigenacija SpO2</label>
            <input type="text" class="form-control" name="akt70" required>
          </div>
          <div class="form-group">
            <label>Upoštevanje terapije</label>
            <div class="form-group">
              <input type="radio" class="form-control" name="akt80a" value="Da" required>Da<br>
              <input type="radio" class="form-control" name="akt80a" value="Delno" required>Delno<br>
              <input type="radio" class="form-control" name="akt80a" value="Ne" required>Ne
            </div>
            <div class="form-group">
              <label>Opombe:</label>
              <textarea class="form-control" name="akt80b" cols="3">
              </textarea>
            </div>
            </div>
          <div class="form-group">
            <label>Pregled terapije</label>
            <textarea class="form-control" name="akt90" cols="3">
              </textarea>
          </div>
          <div class="form-group">
            <label>Navodila za terapijo do naslednjega obiska</label>
            <textarea class="form-control" name="akt100" cols="3">
              </textarea>
          </div>
          <div class="form-group">
            <label>Pogovor, nasvet in vzpodbuda</label>
            <textarea class="form-control" name="akt110" cols="3">
            </textarea>
          </div>
        </div>
        <div ngIf="obiskNosecnice">
          <div class="form-group">
            <label>Seznanitev nosečnice o normalnem poteku nosečnosti in o spremembah na telesu.</label>
            <input type="text" class="form-control" name="akt10">
          </div>
          <div class="form-group">
            <label>Povabilo v šolo za starše</label>
            <input type="text" class="form-control" name="akt20">
          </div>
          <div class="form-group">
            <label>Seznanitev o rednih ginekoloških pregledih</label>
            <input type="text" class="form-control" name="akt30">
          </div>
          <div class="form-group">
            <label>Seznanitev z bližajočim se porodom in pravočasnim odhodom v porodnišnico. </label>
            <input type="text" class="form-control" name="akt40">
          </div>
          <div class="form-group">
            <label>Pogovor in vključevanje partnerja v nosečnost in porod ter po prihodu domov. </label>
            <input type="text" class="form-control" name="akt50">
          </div>
          <div class="form-group">
            <label>Svetovanje o pripomočkih, ki jih bo potrebovala v porodnišnici. </label>
            <input type="text" class="form-control" name="akt60">
          </div>
          <div class="form-group">
            <label>Seznanitev nosečnice o štetju in beleženju plodovih gibov. </label>
            <input type="text" class="form-control" name="akt70">
          </div>
          <div class="form-group">
            <label>Svetovanje glede opreme za novorojenca in primerno ležišče. </label>
            <input type="text" class="form-control" name="akt80">
          </div>
          <div class="form-group">
            <label>Svetovanje o pravilni prehrani, ustrezni izbiri obleke in obutve.</label>
            <input type="text" class="form-control" name="akt90">
          </div>
          <div class="form-group">
            <label>Svetovanje o primernem režim življenja, telesne vaje, gibanje na svežem zraku.</label>
            <input type="text" class="form-control" name="akt100">
          </div>
          <div class="form-group">
            <label>Odsvetovanje razvad kot so uživanje alkohola, kajenje, uživanje zdravil in drog. </label>
            <input type="text" class="form-control" name="akt110">
          </div>
          <div class="form-group">
            <label>Seznanitev nosočnice z nevšečnostmi in svetovanje glede lajšanja težav zaradi nevšečnosti</label>
            <label>(slabosti, bruhanja, zaprtja, pogostih mikcij, nespečnosti, zgage, ...).</label>
            <input type="text" class="form-control" name="akt120">
          </div>
          <div class="form-group">
            <label>Seznanitev nosečnice s pravicami do starševskega dopusta (porodniški dopust, pravica do dopusta</label>
            <label> za nego in varstvo otroka, pravica do očetovskega dopusta) in o uveljavljanju</label>
            <label>pravic povezanih z rojstvom otroka (pravica do paketa, otroški dodatek,</label>
            <label>zdravstveno zavarovanje, rojstni list, ureditev očetovstva).</label>
            <input type="text" class="form-control" name="akt130">
          </div>
          <div class="form-group">
            <label>Pričakovan datum poroda</label>
            <input type="date" class="form-control" name="akt140" required>
          </div>
          <div class="form-group">
            <label>Anamneza: počutje, telesni znaki nosečnosti</label>
            <textarea class="form-control" name="akt150" cols="5" required>
            </textarea>
          </div>
          <div class="form-group">
            <label>Družinska anamneza: Odnosi v družini, odnos družine do okolja, bivalni pogoji, ekonomske</label>
            <label>razmere, zdravstveno stanje družinskih članov, zdravstvena prosvetljenost in vzgojenost.</label>
            <textarea class="form-control" name="akt160" cols="5" required>
            </textarea>
          </div>
          <div class="form-group">
            <label>Anamneza: počutje, telesni znaki nosečnosti</label>
            <div class="form-group">
              <label><label>Izražanje Čustev</label></label>
              <input type="radio" class="form-control" name="akt170a" value="Moteno">Moteno<br>
              <input type="radio" class="form-control" name="akt170a" value="Ni moteno">Ni moteno
            </div>
            <div class="form-group">
              <label>Opombe:</label>
              <textarea class="form-control" name="akt170b" cols="3">
              </textarea>
            </div>
          </div>
          <div class="form-group">
            <label>Fizična obremenjenost</label>
            <div class="form-group">
              <label></label>
              <input type="radio" class="form-control" name="akt180a" value="Nizka">Nizka<br>
              <input type="radio" class="form-control" name="akt180a" value="Srednja">Srednja<br>
              <input type="radio" class="form-control" name="akt180a" value="Visoka">Visoka
            </div>
            <div class="form-group">
              <label>Opombe:</label>
              <textarea class="form-control" name="akt180b" cols="3">
              </textarea>
            </div>
          </div>
          <div class="form-group">
            <label>Krvni Pritisk:</label>
            <div class="form-group">
              <label>Sistolični (mm HG):</label>
              <input type="text" class="form-control" name="akt190a" required>
            </div>
            <div class="form-group">
              <label>Diastolični (mm Hg):</label>
              <input type="text" class="form-control" name="akt190b" required>
            </div>
          </div>
          <div class="form-group">
            <label>Srčni utrip (udarci na minuto)</label>
            <input type="number" class="form-control" name="akt200" required>
          </div>
          <div class="form-group">
            <label>Dihanje(vdihi na minuto)</label>
            <input type="number" class="form-control" name="akt210" required>
          </div>
          <div class="form-group">
            <label>Telesna Temperatura (v °C)</label>
            <input type="number" class="form-control" name="akt220" required>
          </div>
          <div class="form-group">
            <label>Telesna teža pred nosečnostjo(v kg)</label>
            <input type="number" class="form-control" name="akt230" required>
          </div>
          <div class="form-group">
            <label>Trenutna telesna teža (v kg)</label>
            <input type="number" class="form-control" name="akt240" required>
          </div>
        </div>
        <div ngIf="obiskNovorojencka">
          <div class="form-group">
            <label>Prikaz nege dojenčka</label>
            <input type="text" class="form-control" name="akt10">
          </div>
          <div class="form-group">
            <label>Nega popkovne rane</label>
            <input type="text" class="form-control" name="akt20">
          </div>
          <div class="form-group">
            <label>Nudenje pomoči pri dojenju in seznanitev s tehnikami dojenja</label>
            <input type="text" class="form-control" name="akt30">
          </div>
          <div class="form-group">
            <label>Ureditev ležišča</label>
            <input type="text" class="form-control" name="akt40">
          </div>
          <div class="form-group">
            <label>Svetovanje o povijanju, oblačenju, slačenju</label>
            <input type="text" class="form-control" name="akt50">
          </div>
          <div class="form-group">
            <label>Trenutna telesna teža(v gramih)</label>
            <input type="number" class="form-control" name="akt60" required>
          </div>
          <div class="form-group">
            <label>Trenutna telesna višina (v cm)</label>
            <input type="number" class="form-control" name="akt70" required>
          </div>
          <div class="form-group">
            <label>Dojenje</label>
            <div class="form-group">
              <label></label>
              <input type="radio" class="form-control" name="akt80a" value="Da">Da<br>
              <input type="radio" class="form-control" name="akt80a" value="Ne">Ne
            </div>
            <div class="form-group">
              <label>Opombe:</label>
              <textarea class="form-control" name="akt80b" cols="3">
              </textarea>
            </div>
          </div>
          <div class="form-group">
            <label>Dodajanje adaptiranega mleka</label>
            <div class="form-group">
              <label></label>
              <input type="radio" class="form-control" name="akt90a" value="Da">Da<br>
              <input type="radio" class="form-control" name="akt90a" value="Ne">Ne
            </div>
            <div class="form-group">
              <label>Opombe:</label>
              <textarea class="form-control" name="akt90b" cols="3">
              </textarea>
            </div>
          </div>
          <div class="form-group">
            <label>Izločanje in odvajanje</label>
            <div class="form-group">
              <label></label>
              <input type="text" class="form-control" name="akt100a">
            </div>
            <div class="form-group">
              <label>Opombe:</label>
              <textarea class="form-control" name="akt100b" cols="3">
              </textarea>
            </div>
          </div>
          <div class="form-group">
            <label>Ritem spanja</label>
            <input type="text" class="form-control" name="akt110" required>
          </div>
          <div class="form-group">
            <label>Povišanje bilirubina (zlatenica)</label>
            <input type="text" class="form-control" name="akt120" required>
          </div>
          <div class="form-group">
            <label>Kolki</label>
            <input type="text" class="form-control" name="akt130" required>
          </div>
          <div class="form-group">
            <label>Posebnosti</label>
            <input type="text" class="form-control" name="akt140">
          </div>
        </div>
        <div ngIf="obiskOtrocnice">
          <div class="form-group">
            <label>Pregled materinske knjižice in odpustnice iz porodnišnice</label>
            <div class="form-group">
              <label>Datum rojstva otroka</label>
              <input type="date" class="form-control" name="akt10a" required>
            </div>
            <div class="form-group">
              <label>Porodna teža Otroka (v gramih)</label>
              <input type="number" class="form-control" name="akt10b" required>
            </div>
            <div class="form-group">
              <label>Porodna višina otroka (v cm)</label>
              <input type="number" class="form-control" name="akt10c" required>
            </div>
            <div class="form-group">
              <label>Opombe:</label>
              <textarea class="form-control" name="akt10d" cols="3">
              </textarea>
            </div>
          </div>
          <div class="form-group">
            <label>Kontrola vitalnih funkcij</label>
            <input type="text" class="form-control" name="akt20">
          </div>
          <div class="form-group">
            <label>Opazovanje čišče</label>
            <input type="text" class="form-control" name="akt30">
          </div>
          <div class="form-group">
            <label>Nadzor nad izločanjem blata in urina</label>
            <input type="text" class="form-control" name="akt40">
          </div>
          <div class="form-group">
            <label>Zdravstveno vzgojno delo glede pravilnega rokovanja z novorojenčkom, učenje tehnike nege novorojenčka</label>
            <input type="text" class="form-control" name="akt50">
          </div>
          <div class="form-group">
            <label>Motivacija za dojenje. Nadzor in pomoč pri dojenju</label>
            <input type="text" class="form-control" name="akt60">
          </div>
          <div class="form-group">
            <label>Svetovanje o čustveni podpori s strani partnerja</label>
            <input type="text" class="form-control" name="akt70">
          </div>
          <div class="form-group">
            <label>Seznanitev o otrokovih potrebah po toplini, nežnosti in varnosti</label>
            <input type="text" class="form-control" name="akt80">
          </div>
          <div class="form-group">
            <label>Svetovanje o spalnih potrebah otročnice, pravilni negi in higienskem režimu v poporodnem obdobju</label>
            <input type="text" class="form-control" name="akt90">
          </div>
          <div class="form-group">
            <label>Svetovanje o pravilni prehrani, pitju ustreznih količin tekočin</label>
            <input type="text" class="form-control" name="akt100">
          </div>
          <div class="form-group">
            <label>Poučitev o poporodni telovadbi</label>
            <input type="text" class="form-control" name="akt110">
          </div>
          <div class="form-group">
            <label>Seznanitev z nekaterimi obolenji</label>
            <input type="text" class="form-control" name="akt120">
          </div>
          <div class="form-group">
            <label>Napotitev na poporodni pregled</label>
            <input type="text" class="form-control" name="akt130">
          </div>
          <div class="form-group">
            <label>Seznanitev z metodami zaščite pred nezaželjeno nosečnostjo</label>
            <input type="text" class="form-control" name="akt140">
          </div>
          <div class="form-group">
            <label>Svetovanje o normalnem delu, življenju in spolnih odnosih</label>
            <input type="text" class="form-control" name="akt150">
          </div>
          <div class="form-group">
            <label>Krvni pritisk</label>
            <div class="form-group">
              <label>Sistolični (mm Hg)</label>
              <input type="number" class="form-control" name="akt160a" required>
            </div>
            <div class="form-group">
              <label>Diastolični (mm Hg)</label>
              <input type="number" class="form-control" name="akt160b" required>
            </div>
            </div>
          <div class="form-group">
            <label>Srčni utrip (udarci na minuto)</label>
            <input type="number" class="form-control" name="akt170" required>
          </div>
          <div class="form-group">
            <label>Dihanje (vdihi na minuto)</label>
            <input type="number" class="form-control" name="akt180" required>
          </div>
          <div class="form-group">
            <label>Telesna temperatura (v °C)</label>
            <input type="number" class="form-control" name="akt190" required>
          </div>
          <div class="form-group">
            <label>Trenutna telesna teža (v kg)</label>
            <input type="number" class="form-control" name="akt200" required>
          </div>
          <div class="form-group">
            <label>Anamneza: počutje, telesni znaki nosečnosti</label>
            <input type="text" class="form-control" name="akt210" required>
          </div>
          <div class="form-group">
            <label>Družinska anamneza: odnosi v družini, odnos družine do okolja, bivalni pogoji, ekonomske razmere,</label>
            <label>zdravstveno stanje družinskih članov, zdravstvena prosvetljenost in vzgojenost.</label>
            <input type="text" class="form-control" name="akt220" required>
          </div>
          <div class="form-group">
            <label>Izražanje čustev</label>
            <div class="form-group">
              <label></label>
              <input type="radio" class="form-control" name="akt230a" value="Moteno">Moteno<br>
              <input type="radio" class="form-control" name="akt230a" value="Ni moteno">Ni moteno
            </div>
            <div class="form-group">
              <label>Opombe:</label>
              <textarea class="form-control" name="akt230b" cols="3">
              </textarea>
            </div>
          </div>
          <div class="form-group">
            <label>Fizična obremenjenost</label>
            <div class="form-group">
              <label></label>
              <input type="radio" class="form-control" name="akt240a" value="Nizka">Nizka<br>
              <input type="radio" class="form-control" name="akt240a" value="Srednja">Srednja<br>
              <input type="radio" class="form-control" name="akt240a" value="Visoka">Visoka
            </div>
            <div class="form-group">
              <label>Opombe:</label>
              <textarea class="form-control" name="akt240b" cols="3">
              </textarea>
            </div>
          </div>
        </div>
        <div ngIf="odvzemKrvi">
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
        </div>
        <div ngIf="preventivaStarostnika">
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
          <div class="form-group">
            <label></label>
            <input type="text" class="form-control" name="akt">
          </div>
        </div>
        <button type="submit" class="btn btn-info">Dodaj nadomestno sestro</button>
        <button type="submit" class="btn btn-success" [disabled]="!obiskForm.form.valid">Vnesi obisk</button>
      </div>
    </form>
  </div>
</div>
