<h1 id="naslov">Planiranje Obiskov</h1>

	<form>
		<div id="filtri2">
			<div class="enObDrugemDatumi">
				<label id="labelZaDan">Izberi dan</label>
				<input type="date" class="form-control" name="datum" placeholder="05-05-2017" min="2017-05-12"
               [(ngModel)] ="izbraniDatum">
			</div>
		</div>
		<div class="levo">
			<input type="button" (click)="Onsubmit()" id="gumb" name="poisciFiltre" value="Izberi datum">
		</div>
	</form>

<h3>Plan obiskov za izbrani datum</h3>
<div id="linija"></div>

<div id="kvadratZaDelovneNaloge">
	<table>
		<tr>
			<th class="prva">Id obiska</th>
			<th class="prva">Predvideni datum obiska</th>
			<th class="prva">Dejanski datum obiska</th>
			<th class="prva">Fiksni datum</th>
			<th class="prva">Delovni nalog</th>
			<th class="prva">Poročilo</th>
			<th class="prva">Odstranjevanje</th>
		</tr>
		<tr *ngFor="let s of tabelaDejanskiObiskovFixenDat">
			<td class="prva" [hidden] ="!aliJeVecji">{{s.idObiska}}</td>
			<td class="prva" [hidden] ="!aliJeVecji">{{s.predvideniDatumObiska}}</td>
			<td class="prva" [hidden] ="!aliJeVecji">{{s.dejanskiDatumObiska}}</td>
			<td class="prva" [hidden] ="!aliJeVecji">{{s.fiksniDatum}}</td>
			<td class="prva" [hidden] ="!aliJeVecji"><a routerLink="/podrobnosti/{{s.idDelovniNalog}}" routerLinkActive="active">Delovni nalog</a></td>
			<td class="prva" [hidden] ="!aliJeVecji"><a routerLink="{{s.porocilo}}" routerLinkActive="active">Dodaj poročilo</a></td>
			<td class="prva" [hidden] ="!aliJeVecji"><input *ngIf="(s.fiksniDatum === 'NE')" type="button" class="btn-link" [(ngModel)]="s.dodaj" (click)="odstraniIzDneva(s.idObiska)" value="{{s.dodaj}}"></td>
		</tr>
	</table>
</div>

<h3>Seznam neopravljenih obiskov</h3>
<div id="linija"></div>

<div id="kvadratZaDelovneNaloge">
	<table>
		<tr>
			<th>Id obiska</th>
			<th>Predvideni datum obiska</th>
			<th>Dejanski datum obiska</th>
			<th>Fiksni datum</th>
			<th>Delovni nalog</th>
			<th>Dodajanje</th>
		</tr>
		<tr *ngFor="let s of tabelaDejanskiObiskov">
			<td>{{s.idObiska}}</td>
			<td>{{s.predvideniDatumObiska}}</td>
			<td>{{s.dejanskiDatumObiska}}</td>
			<td>{{s.fiksniDatum}}</td>
			<td><a routerLink="/podrobnosti/{{s.idDelovniNalog}}" routerLinkActive="active">Delovni nalog</a></td>
			<td><input *ngIf="(s.fiksniDatum === 'NE')" type="button" class="btn-link" [(ngModel)]="s.dodaj" (click)="dodajKDnevu(s.idObiska)" value="{{s.dodaj}}"></td>
		</tr>
	</table>
</div>
