<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>REST</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>HtmlAuth</web-resource-name>
      <url-pattern>sifranti/*</url-pattern>
      <url-pattern>zdravstveniDelavec/*</url-pattern>
      <url-pattern>uporabnik/*</url-pattern>
      <url-pattern>pacient/*</url-pattern>
      <url-pattern>kontakt/*</url-pattern>
      <url-pattern>izvajalecZdravstvenihStoritev/*</url-pattern>
      <url-pattern>delovniNalog/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>PUT</http-method>
      <http-method>POST</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Administrator</role-name>
      <role-name>Pacient</role-name>
      <role-name>PatronaznaSestra</role-name>
      <role-name>PatronaznaSluzba</role-name>
      <role-name>SodelavecIZS</role-name>
      <role-name>Zdravnik</role-name>
      <role-name>guest</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>tpoAuth</realm-name>
  </login-config>
  <security-role>
    <role-name>Administrator</role-name>
  </security-role>
  <security-role>
    <role-name>Pacient</role-name>
  </security-role>
  <security-role>
    <role-name>PatronaznaSestra</role-name>
  </security-role>
  <security-role>
    <role-name>PatronaznaSluzba</role-name>
  </security-role>
  <security-role>
    <role-name>SodelavecIZS</role-name>
  </security-role>
  <security-role>
    <role-name>Zdravnik</role-name>
  </security-role>
  <security-role>
    <role-name>guest</role-name>
  </security-role>
  <filter>
    <filter-name>CORS</filter-name>
    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
    <init-param>
      <param-name>cors.allowGenericHttpRequests</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowOrigin</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowSubdomains</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>cors.supportedMethods</param-name>
      <param-value>GET,POST,DELETE,PUT</param-value>
    </init-param>
    <init-param>
      <param-name>cors.supportedHeaders</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.supportsCredentials</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>cors.maxAge</param-name>
      <param-value>3600</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CORS</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ipBlockFilter</display-name>
    <filter-name>ipBlockFilter</filter-name>
    <filter-class>si.fri.tpo.v1.filtri.ipBlockFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ipBlockFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
</web-app>