<div class="container">
  <div [hidden]="submitted">
    <h1>Registracija zdravstvenega delavca</h1>
    <form (ngSubmit)="onSubmit()" #registracijaForm="ngForm">
      <div class="form-group">
        <label for="mail">Elektronska pošta</label>
        <input type="email" class="form-control" id="mail"
               maxlength="45" placeholder="elektronska pošta" required
               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
               [(ngModel)]="model.mail" name="mail"
               #mail="ngModel">
        <div [hidden]="mail.valid || mail.pristine"
             class="alert alert-danger">
          Vnesite veljavno elektronsko pošto
        </div>
      </div>
      <div class="form-group">
        <label for="ime">Ime</label>
        <input type="text" class="form-control" id="ime"
               placeholder="ime" required
               [(ngModel)]="model.ime" name="ime"
               #ime="ngModel">
        <div [hidden]="ime.valid || ime.pristine"
             class="alert alert-danger">
          Vnesite ime
        </div>
      </div>
      <div class="form-group">
        <label for="priimek">Priimek</label>
        <input type="text" class="form-control" id="priimek"
               placeholder="priimek" required
               [(ngModel)]="model.priimek" name="priimek"
               #priimek="ngModel">
        <div [hidden]="priimek.valid || priimek.pristine"
             class="alert alert-danger">
          Vnesite priimek
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Željeno geslo</label>
        <input type="password" class="form-control" id="pwd"
               required minlength="8" validateEqual="pwd2" reverse="true"
               [(ngModel)]="model.pwd" name="pwd"
               #pwd="ngModel">
        <div [hidden]="pwd.valid || pwd.pristine"
             class="alert alert-danger">
          Vnesite željeno geslo (dolžina mora biti vsaj 8 znakov)
        </div>
      </div>
      <div class="form-group">
        <label for="pwd2">Ponovite geslo</label>
        <input type="password" class="form-control" id="pwd2"
               required validateEqual="pwd"
               [(ngModel)]="model.pwd2" name="pwd2"
               #pwd2="ngModel">
        <div [hidden]="pwd2.valid || pwd2.pristine"
             class="alert alert-danger">
          Gesli se morata ujemati
        </div>
      </div>
      <div class="form-group">
      	<label for="sifraZd">Sifra zdravstvenega delavca</label>
      	<input type="sifra" class="form-control" id="sifraZd"
      			required minlength="5" [(ngModel)]="model.sifraZd" name="sifraZd" #sifraZd="ngModel">
      	<div [hidden]="sifraZd.valid || sifraZd.pristine" class="alert alert-danger">
      		Vnesite Šifro zdravstvenega delavca (dolžina mora biti vsaj 5 znakov)
      	</div>
      </div>
      <div class="form-group">
        <label for="tel">Telefonska številka</label>
        <input type="text" class="form-control" id="tel"
               placeholder="+38600000000" required minlength="12" maxlength="12"
               [(ngModel)]="model.tel" name="tel" pattern="\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|
               2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|
               4[987654310]|3[9643210]|2[70]|7|1)\d{1,14}$"
               #tel="ngModel">
        <div [hidden]="tel.valid || tel.pristine"
             class="alert alert-danger">
          Vnesite vašo telefonsko Številko
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!registracijaForm.form.valid">Registracija</button>
    </form>
  </div>
</div>
