header {
	background: blue;
	width: 98.6vw;
	height: 20vh;
	position: relative;
	color: black;
	margin: 0;
}

nav {
	position: absolute;
	bottom: 0;
	
	color: black;
	margin: 5px 10px;
}

#navRight {
	position: absolute;
	bottom: 0;
	right: 0;
	
	color: black;
	margin: 5px 10px;
}

.nav1 {
  position: relative;
  right: 0;
}
footer {
	bottom: 0;
	position: relative;
	background: blue;
	width: 98.6vw;
}


a:link {color:black; }
a:visited  {color:black;}
