header {
	background: blue;
	width: 100vw;
	height: 20vh;
	position: absolute;
	color: black;
}



nav {
	position: absolute;
	bottom: 0;

	width: 45vx;
	color: black;

}

#navRight {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 45vx;
	color: black;




}

.nav1 {
  position: relative;
  right: 0;


}
footer {
	bottom: 0;
	position: fixed;

	background: blue;
	width: 100vw;


}
router-outlet{
  padding-top:20vh;
  margin: auto;
  position: absolute;
}

a:link {color:black; }
a:visited  {color:black;}
