<h1> DELOVNI NALOG</h1>
<div id="delovniNalogMain">
	<form>
		<div id="izvajalec">
			<h3> 1 - IZVAJALEC </h3>
			<label>številka izvajalca</label>
			<input type="text" id="stevilkaIzvajalca">
			   
			<label>šifra zdravstvene dejavnosti</label>
			<input type="text" id="sifraZdravstveneDejavnosti">
			   
			<label>naziv izvajalca</label>
			<input type="text" id="sifraZdravstveneDejavnosti">		
		</div>
		
		
		<div id="zdravnik"> 
			<h3>2 - ZDRAVNIK</h3>
			<label>številka zdravnika</label>
			<input type="text" id="stevilkaZdravnika">
				
			<select id="vrstaZdravnika">
			  <option> Osebni</option>
			  <option> Napotni</option>
			  <option> Nmp</option>
			  <option> Nadomestni</option>		 
			</select>
			
			<label>imenski žig</label>
			<input type="text" id="imenskiZig">		
		</div>
		
		<div id="zavarovanaOseba"> 
			<h3>3 - ZAVAROVANA OSEBA</h3>
			<label>Številka zavarovane osebe</label>
			<input type="text" id="stevilkaZavarovaneOsebe">
			
			<label>Datum rojstva</label>
			<input type="date" id="datumRojstva">
			
			<label>Priimek</label>
			<input type="text" id="priimek">
			
			<label>Ime</label>
			<input type="text" id="ime">
			
			<label>Ulica, hišna številka</label>
			<input type="text" id="ulicaHisnaStevilka">
			
			<label>Postna številka</label>
			<input type="text" id="postnaStevilka">
			
			<label>Kraj</label>
			<input type="text" id="kraj">
			
			<label>Telefonska stevilka</label>
			<input type="text" id="telefonskaStevilka">
			
			<label>e-pošta</label>
			<input type="text" id="ePosta">			
		</div>
		
		<div id="napotnica">
			<h3>4 - NAPOTNICA </h3>
			<label>številka napotnice</label>
			<input type="text" id="stevilkaNapotnice">
			
			<label>številka zdravnika</label>
			<input type="text" id="stevilkaZdravnika">		
		</div>
		
		<div id="veljavnostNaloga">
			<h3>5 - VELJAVNOST NALOGA</h3>
			<label>1 - enkratno</label><br>
			<label>2 - za obdobje</label>
			<input type="text" id="veljavnostNalogaIzbira">
			<label>mesecev</label>
			<input type="text" id="veljavnostNalogaMesecev">
		</div>
		
		<div id="vrstaStoritve">
			<h3>6 - VRSTA STORITVE</h3>
			<label>1. Delovna terapija</label>
			<label>1. Nega na domu</label>
			<input type="text" id="vrstaStoritveIzbira">
			<label>3. Storitve psihologa, logopeda, spec.pedagoga</label>
			<label>4. Rentgensko slikanje</label>
			<label>5. Laboratorijske in druge storitve</label>
		</div>
	</form>

</div>