<h1> DELOVNI NALOG</h1>
<div id="delovniNalogMain">
	<form>
		<div id="izvajalec">
			<h3> 1 - IZVAJALEC </h3>
			<label>številka izvajalca</label>
			<input type="text" id="stevilkaIzvajalca">
			   
			<label>šifra zdravstvene dejavnosti</label>
			<input type="text" id="sifraZdravstveneDejavnosti">
			   
			<label>naziv izvajalca</label>
			<input type="text" id="sifraZdravstveneDejavnosti">		
		</div>
		
		
		<div id="zdravnik"> 
			<h3>2 - ZDRAVNIK</h3>
			<label>številka zdravnika</label>
			<input type="text" id="stevilkaZdravnika">
				
			<select id="vrstaZdravnika">
			  <option> Osebni</option>
			  <option> Napotni</option>
			  <option> Nmp</option>
			  <option> Nadomestni</option>		 
			</select>
			
			<label>imenski žig</label>
			<input type="text" id="imenskiZig">		
		</div>
		
		<div id="zavarovanaOseba"> 
			<h3>3 - ZAVAROVANA OSEBA</h3>
			<label>Številka zavarovane osebe</label>
			<input type="text" id="stevilkaZavarovaneOsebe">
			
			<label>Datum rojstva</label>
			<input type="date" id="datumRojstva">
			
			<label>Priimek</label>
			<input type="text" id="priimek">
			
			<label>Ime</label>
			<input type="text" id="ime">
			
		</div>
	</form>

</div>